# Reverse proxy for local services
# Access via https://service.lan (requires pihole DNS entries)

portainer.lan {
	tls internal
	reverse_proxy portainer:9000
}

dns.lan {
	tls internal
	reverse_proxy 192.168.3.5:80
}

nvr.lan {
	tls internal
	reverse_proxy https://192.168.3.7:8971 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

proxmox.lan {
	tls internal
	reverse_proxy https://192.168.3.2:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

proxmox-node.lan {
	tls internal
	reverse_proxy https://192.168.3.3:8006 {
		transport http {
			tls_insecure_skip_verify
		}
	}
}

jellyfin.lan {
	tls internal
	reverse_proxy 192.168.3.8:8096
}
